:root {
    --primary-color: #04B2D9;
    --white-color: #F9F9F9;
    --gray-color: #F2F2F2;
    --strong-gray-color: #C1C1C1; 
    --placeholder-color: #C1C1C1; 
    --primary-font-color: #111111;
    --alert-color: #D94404;
}